.App  {
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 70px;
}

a:hover  {
    cursor: pointer;
}

.span6 {
    padding: 10px;
}

@media only screen and (max-width: 900px) and (min-width: 550px) {
    .App  {
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 70px;
    }
}


@media only screen and (max-width: 550px) {
    .App  {
        padding: 40px;
    }
}